<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="omni_drive_controller">
        <gazebo>
            <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
                <ros>
                    <remapping>cmd_vel:=cmd_vel</remapping>
                    <remapping>odom:=odom</remapping>
                </ros>

                <update_rate>100.0</update_rate>
                <publish_rate>30.0</publish_rate>

                <command_topic>cmd_vel</command_topic>
                <odometry_topic>odom</odometry_topic>

                <odometry_frame>odom</odometry_frame>
                <robot_base_frame>base_footprint</robot_base_frame>
                <publish_odom>true</publish_odom>
                <publish_odom_tf>true</publish_odom_tf>

            </plugin>
        </gazebo>
    </xacro:macro>
</robot>